*{
    margin:0;
    padding:0;
    box-sizing: border-box; 
    /*borderbox - size bere i s paddingem, border, margin
    content-box - size se bere pouze s contentem*/
}

.container {
    border: 2px dashed red;
    width:40%;
    padding:1.5em;
    margin:1.5em;
}

/*jak vycentrovat div - nahore dole - je to jedno
                        vpravo vlevo - auto
                        */